/* CSS Reset  */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 59px
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
}

/* Navigation Bar: logo & image */
#logo{
  margin: 34px 45px;
}
#logo img{

}

/* Navigation Bar: List styling */